In [136]:
import pandas as pd

In [137]:
df=pd.read_csv(r"C:\Users\soft\Downloads\Heart_Disease_Prediction.csv")
df

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,70,1,4,130,322.0,0.0,2.0,109.0,0.0,2.4,2.0,3.0,3.0,Presence
1,67,0,3,115,564.0,0.0,2.0,160.0,0.0,1.6,2.0,0.0,7.0,Absence
2,57,1,2,124,261.0,0.0,0.0,141.0,0.0,0.3,1.0,0.0,7.0,Presence
3,64,1,4,128,263.0,0.0,0.0,105.0,1.0,0.2,2.0,1.0,7.0,Absence
4,74,0,2,120,269.0,0.0,2.0,121.0,1.0,0.2,1.0,1.0,3.0,Absence
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,52,1,3,172,199.0,1.0,0.0,162.0,0.0,0.5,1.0,0.0,7.0,Absence
266,44,1,2,120,263.0,0.0,0.0,173.0,0.0,0.0,1.0,0.0,7.0,Absence
267,56,0,2,140,294.0,0.0,2.0,153.0,0.0,1.3,2.0,0.0,3.0,Absence
268,57,1,4,140,192.0,0.0,0.0,148.0,0.0,0.4,2.0,0.0,6.0,Absence
269,67,1,4,160,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,Presence

In [138]:
df.head()

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,70,1,4,130,322.0,0.0,2.0,109.0,0.0,2.4,2.0,3.0,3.0,Presence
1,67,0,3,115,564.0,0.0,2.0,160.0,0.0,1.6,2.0,0.0,7.0,Absence
2,57,1,2,124,261.0,0.0,0.0,141.0,0.0,0.3,1.0,0.0,7.0,Presence
3,64,1,4,128,263.0,0.0,0.0,105.0,1.0,0.2,2.0,1.0,7.0,Absence
4,74,0,2,120,269.0,0.0,2.0,121.0,1.0,0.2,1.0,1.0,3.0,Absence

In [139]:
df.head(10)

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,70,1,4,130,322.0,0.0,2.0,109.0,0.0,2.4,2.0,3.0,3.0,Presence
1,67,0,3,115,564.0,0.0,2.0,160.0,0.0,1.6,2.0,0.0,7.0,Absence
2,57,1,2,124,261.0,0.0,0.0,141.0,0.0,0.3,1.0,0.0,7.0,Presence
3,64,1,4,128,263.0,0.0,0.0,105.0,1.0,0.2,2.0,1.0,7.0,Absence
4,74,0,2,120,269.0,0.0,2.0,121.0,1.0,0.2,1.0,1.0,3.0,Absence
5,65,1,4,120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Absence
6,56,1,3,130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presence
7,59,1,4,110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presence
8,60,1,4,140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presence
9,63,0,4,150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Presence

In [140]:
df.tail()

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
265,52,1,3,172,199.0,1.0,0.0,162.0,0.0,0.5,1.0,0.0,7.0,Absence
266,44,1,2,120,263.0,0.0,0.0,173.0,0.0,0.0,1.0,0.0,7.0,Absence
267,56,0,2,140,294.0,0.0,2.0,153.0,0.0,1.3,2.0,0.0,3.0,Absence
268,57,1,4,140,192.0,0.0,0.0,148.0,0.0,0.4,2.0,0.0,6.0,Absence
269,67,1,4,160,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,Presence

In [141]:
df.tail(10)

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
260,58,0,3,120,340.0,0.0,0.0,172.0,0.0,0.0,1.0,0.0,3.0,Absence
261,60,1,4,130,206.0,0.0,2.0,132.0,1.0,2.4,2.0,2.0,7.0,Presence
262,58,1,2,120,284.0,0.0,2.0,160.0,0.0,1.8,2.0,0.0,3.0,Presence
263,49,1,2,130,266.0,0.0,0.0,171.0,0.0,0.6,1.0,0.0,3.0,Absence
264,48,1,2,110,229.0,0.0,0.0,168.0,0.0,1.0,3.0,0.0,7.0,Presence
265,52,1,3,172,199.0,1.0,0.0,162.0,0.0,0.5,1.0,0.0,7.0,Absence
266,44,1,2,120,263.0,0.0,0.0,173.0,0.0,0.0,1.0,0.0,7.0,Absence
267,56,0,2,140,294.0,0.0,2.0,153.0,0.0,1.3,2.0,0.0,3.0,Absence
268,57,1,4,140,192.0,0.0,0.0,148.0,0.0,0.4,2.0,0.0,6.0,Absence
269,67,1,4,160,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,Presence

In [142]:
df.head(-1)

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,70,1,4,130,322.0,0.0,2.0,109.0,0.0,2.4,2.0,3.0,3.0,Presence
1,67,0,3,115,564.0,0.0,2.0,160.0,0.0,1.6,2.0,0.0,7.0,Absence
2,57,1,2,124,261.0,0.0,0.0,141.0,0.0,0.3,1.0,0.0,7.0,Presence
3,64,1,4,128,263.0,0.0,0.0,105.0,1.0,0.2,2.0,1.0,7.0,Absence
4,74,0,2,120,269.0,0.0,2.0,121.0,1.0,0.2,1.0,1.0,3.0,Absence
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,48,1,2,110,229.0,0.0,0.0,168.0,0.0,1.0,3.0,0.0,7.0,Presence
265,52,1,3,172,199.0,1.0,0.0,162.0,0.0,0.5,1.0,0.0,7.0,Absence
266,44,1,2,120,263.0,0.0,0.0,173.0,0.0,0.0,1.0,0.0,7.0,Absence
267,56,0,2,140,294.0,0.0,2.0,153.0,0.0,1.3,2.0,0.0,3.0,Absence
268,57,1,4,140,192.0,0.0,0.0,148.0,0.0,0.4,2.0,0.0,6.0,Absence

In [143]:
df.columns

Index(['Age', 'Sex', 'Chest pain type', 'BP', 'Cholesterol', 'FBS over 120',
       'EKG results', 'Max HR', 'Exercise angina', 'ST depression',
       'Slope of ST', 'Number of vessels fluro', 'Thallium', 'Heart Disease'],
      dtype='object')

In [144]:
df.shape

(270, 14)

In [145]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      270 non-null    int64
 1   Sex                      270 non-null    int64
 2   Chest pain type          270 non-null    int64
 3   BP                       270 non-null    int64
 4   Cholesterol              253 non-null    float64
 5   FBS over 120             254 non-null    float64
 6   EKG results              253 non-null    float64
 7   Max HR                   253 non-null    float64
 8   Exercise angina          253 non-null    float64
 9   ST depression            253 non-null    float64
 10  Slope of ST              253 non-null    float64
 11  Number of vessels fluro  253 non-null    float64
 12  Thallium                 253 non-null    float64
 13  Heart Disease            270 non-null    object
dtypes: float64(9), int64(4), object(1)
memory usage: 29.7+ KB

In [146]:
df.isnull().sum()

Age                         0
Sex                         0
Chest pain type             0
BP                          0
Cholesterol                17
FBS over 120               16
EKG results                17
Max HR                     17
Exercise angina            17
ST depression              17
Slope of ST                17
Number of vessels fluro    17
Thallium                   17
Heart Disease               0
dtype: int64

In [147]:
df.fillna(method='bfill',inplace=True)
df.isnull().sum()

Age                        0
Sex                        0
Chest pain type            0
BP                         0
Cholesterol                0
FBS over 120               0
EKG results                0
Max HR                     0
Exercise angina            0
ST depression              0
Slope of ST                0
Number of vessels fluro    0
Thallium                   0
Heart Disease              0
dtype: int64

In [148]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      270 non-null    int64
 1   Sex                      270 non-null    int64
 2   Chest pain type          270 non-null    int64
 3   BP                       270 non-null    int64
 4   Cholesterol              270 non-null    float64
 5   FBS over 120             270 non-null    float64
 6   EKG results              270 non-null    float64
 7   Max HR                   270 non-null    float64
 8   Exercise angina          270 non-null    float64
 9   ST depression            270 non-null    float64
 10  Slope of ST              270 non-null    float64
 11  Number of vessels fluro  270 non-null    float64
 12  Thallium                 270 non-null    float64
 13  Heart Disease            270 non-null    object
dtypes: float64(9), int64(4), object(1)
memory usage: 29.7+ KB

In [149]:
x=df[['Age', 'Sex', 'Chest pain type', 'BP', 'Cholesterol', 'FBS over 120',
       'EKG results', 'Max HR', 'Exercise angina', 'ST depression',
       'Slope of ST', 'Number of vessels fluro', 'Thallium']]
x

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium
0,70,1,4,130,322.0,0.0,2.0,109.0,0.0,2.4,2.0,3.0,3.0
1,67,0,3,115,564.0,0.0,2.0,160.0,0.0,1.6,2.0,0.0,7.0
2,57,1,2,124,261.0,0.0,0.0,141.0,0.0,0.3,1.0,0.0,7.0
3,64,1,4,128,263.0,0.0,0.0,105.0,1.0,0.2,2.0,1.0,7.0
4,74,0,2,120,269.0,0.0,2.0,121.0,1.0,0.2,1.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,52,1,3,172,199.0,1.0,0.0,162.0,0.0,0.5,1.0,0.0,7.0
266,44,1,2,120,263.0,0.0,0.0,173.0,0.0,0.0,1.0,0.0,7.0
267,56,0,2,140,294.0,0.0,2.0,153.0,0.0,1.3,2.0,0.0,3.0
268,57,1,4,140,192.0,0.0,0.0,148.0,0.0,0.4,2.0,0.0,6.0
269,67,1,4,160,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0

In [150]:
y=df[['Heart Disease']]
y

    Heart Disease
0        Presence
1         Absence
2        Presence
3         Absence
4         Absence
..            ...
265       Absence
266       Absence
267       Absence
268       Absence
269      Presence

[270 rows x 1 columns]

In [151]:
x=df.iloc[:,:-1]
x

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium
0,70,1,4,130,322.0,0.0,2.0,109.0,0.0,2.4,2.0,3.0,3.0
1,67,0,3,115,564.0,0.0,2.0,160.0,0.0,1.6,2.0,0.0,7.0
2,57,1,2,124,261.0,0.0,0.0,141.0,0.0,0.3,1.0,0.0,7.0
3,64,1,4,128,263.0,0.0,0.0,105.0,1.0,0.2,2.0,1.0,7.0
4,74,0,2,120,269.0,0.0,2.0,121.0,1.0,0.2,1.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,52,1,3,172,199.0,1.0,0.0,162.0,0.0,0.5,1.0,0.0,7.0
266,44,1,2,120,263.0,0.0,0.0,173.0,0.0,0.0,1.0,0.0,7.0
267,56,0,2,140,294.0,0.0,2.0,153.0,0.0,1.3,2.0,0.0,3.0
268,57,1,4,140,192.0,0.0,0.0,148.0,0.0,0.4,2.0,0.0,6.0
269,67,1,4,160,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0

In [152]:
y=df.iloc[:,-1]
y

0      Presence
1       Absence
2      Presence
3       Absence
4       Absence
         ...
265     Absence
266     Absence
267     Absence
268     Absence
269    Presence
Name: Heart Disease, Length: 270, dtype: object

In [153]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2)

In [154]:
xtrain.shape

(216, 13)

In [155]:
xtest.shape

(54, 13)

In [156]:
ytrain.shape

(216,)

In [157]:
ytest.shape

(54,)

In [158]:
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
clf=DecisionTreeClassifier()
clf.fit(xtrain,ytrain)
ypred=clf.predict(xtest)
score=accuracy_score(ytest,ypred)
print(score)

0.8148148148148148

In [159]:
prediction=clf.predict([[43,1,4,115,303,0,0,181,0,1.2,2,0,3]])
print(prediction)

['Absence']

C:\Users\soft\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [160]:
prediction=clf.predict([[58,1,3,112,230,0,2,165,0,2.5,2,1,7]])
print(prediction)

['Absence']

C:\Users\soft\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [161]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(ytest,ypred)
print(cm)

[[27  4]
 [ 6 17]]

In [162]:
from sklearn.metrics import classification_report
cm=classification_report(ytest,ypred)
print(cm)

              precision    recall  f1-score   support

     Absence       0.82      0.87      0.84        31
    Presence       0.81      0.74      0.77        23

    accuracy                           0.81        54
   macro avg       0.81      0.81      0.81        54
weighted avg       0.81      0.81      0.81        54